
<section class="section">
    <div class="container">
        <div class="content">
            Links:
            <ul>
                <li><a href="/auth/login/">login</a></li>
                <li><a href="/auth/logout">logout</a></li>
                <li><a href="/user/admin/">user admin</a></li>
            </ul>
        </div>
    </div>
</section>

